<div class="col-xs-12">
    <h2>Mes Appareils du composant appareil-view</h2>
    derni&egrave;re mise a jour - {{ lastUpdate | async | date | uppercase }}
    <ul class="list-group">
      <!--
      <app-appareil [appareilName]="appareilOne" [appareilStatus]="'éteint'"></app-appareil>
      <app-appareil [appareilName]="appareilTwo" [appareilStatus]="'éteint'"></app-appareil>
      <app-appareil [appareilName]="appareilThree" [appareilStatus]="'allumé'"></app-appareil>
      -->
      <!-- let i = index cest pour index, qui est le mot cle-->
      <app-appareil 
      *ngFor="let appareil of appareils; let i = index"
      [appareilIndex] = "i"
      [appareilId] = "appareil.id"
      [appareilName] = "appareil.name"
      [appareilStatus] = "appareil.status"
      >
    </app-appareil>
    <!-- ne pas confondre index est id : inde cest l'index dans le tableau retourné : id cest l'id de l'objet, la cle primaire -->

    </ul>
    <!-- directive structurelle -->
    <button class="btn btn-success" [disabled]="!isAuth" (click)="onAllumer()"> Tout allumer </button>
    <button class="btn btn-danger" [disabled]="!isAuth" (click)="onEteindre()"> Tout eteindre </button>
    <button class="btn btn-info" [disabled]="!isAuth" (click)="onSave()"> Enregistrer </button>
    <button class="btn btn-info" [disabled]="!isAuth" (click)="onLoad()"> Charger </button>
    <button class="btn btn-danger" [disabled]="!isAuth" (click)="onDelete()"> Effacer </button>
    <!-- directive -->

  </div>