<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Mes Appareils</h2>
      derni&egrave;re mise a jour - {{ lastUpdate | async | date | uppercase }}
      <ul class="list-group">
        <!--
        <app-appareil [appareilName]="appareilOne" [appareilStatus]="'éteint'"></app-appareil>
        <app-appareil [appareilName]="appareilTwo" [appareilStatus]="'éteint'"></app-appareil>
        <app-appareil [appareilName]="appareilThree" [appareilStatus]="'allumé'"></app-appareil>
        -->
        <app-appareil 
        *ngFor="let appareil of appareils"
        [appareilName] = "appareil.name"
        [appareilStatus] = "appareil.status">
      </app-appareil>

      </ul>
      <!-- directive structurelle -->
      <button class="btn btn-success" [disabled]="!isAuth" (click)="onAllumer()"> Tout allumer </button>
      <!-- directive -->

    </div>
  </div>
</div>